<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="AutoTrack" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/fonts/MyanmarNjaun/myanmarNjaun.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/fonts/Lobster/lobster.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/fonts/MyanmarAngoun/myanmarAngoun.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/fonts/MON3Anonta1/MON3Anonta1.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/fonts/TharLon/TharLon.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white font-inter">
    {@inner_content}
  </body>
</html>
